@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Inter;
    color: #000;
    overflow-x: hidden;
}

/* HEADER LOGO/SEARCH */
header {
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #A64812;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-family: SUSE;
    font-weight: bold;
    color: #fff;
}

.div-logo a h1{
    color:#fff;
}

.logo {
    width: 5rem;
    padding-right: 1rem;
    color: #fff;
}

/* Fim HEADER LOGO/SEARCH */

/* BOOTSTRAP SEARCH */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin: 1rem;
}

.input {
    font-size: 18px;
    padding: 5px 10px;
    width: 30rem;
    height: 2.5rem;
    padding-left: 1rem;
    outline: none;
    border: none;
    background: #fff;
    color: #000000;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .3s ease;
}

.input::placeholder {
    color: black;
}

.search {
    position: absolute;
    right: 10px;
    width: 2rem;
    height: 2rem;
}

/* Fim BOOTSTRAP SEARCH */

/* HEADER NAV */
.nav {
    background-color: #F2780C;
    color: white;
}

.nav a {
    color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
    padding: .5rem 0;
    justify-content: center;
    align-items: center;
}

.nav li {
    padding: 0 1.5rem;
    border-right: 1px solid #fff;
    font-family: Inter;
    font-weight: 400;
    color: #fff;
}

#last {
    border: none;
}

/* Fim HEADER NAV */

/* Início FOOTER */
footer {
    background-color: #F28B0C;
    font-family: SUSE;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7.55rem;
    padding: 1rem 0 0 0;
}

#projetoFinal,
#cr {
    color: #fff;
}

#projetoFinal {
    font-weight: bold;
}

#cr {
    font-weight: lighter;
}

/* Fim FOOTER */

/* Início PRODUTO */
h2.nome-item {
    color: #000000;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
}

.hero {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hero-desc {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.pagamento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

h3.preco {
    font-size: 60px;
    font-weight: bold;
    font-family: Inter;
    color: #F2A007;
}

.sub {
    margin-top: 2rem;
}

.sub h4 {
    font-size: 25px;
    opacity: .8;
}

.especificacoes {
    font-size: 20px;
    opacity: .75;
}

.comprar {
    background-color: #F2A007;
    border: none;
    color: white;
    padding: 15px 64px 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px 4px 2px;
    cursor: pointer;
    height: 3.3rem;
    width: 20rem;
    border-radius: 15px;
}

@media (max-width: 800px) {
    .hideMobile {
        display: none;
    }

    .search-bar,
    .input,
    .search {
        display: none;
    }

    body {
        overflow: scroll;
    }

    .nav {
        display: none;
    }

    .burg {
        display: block;
    }

    .prods {
        display: flex;
        flex-direction: column;
        height: 150%;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 150%;
        width: 80vw;
        align-items: center;
    }

    .nav2 {
        display: flex;
        justify-content: flex-end;
    }

    .comprar{
        padding: 10px 64px;
    }
    
    .nav2 ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav2 li {
        height: 60px;
    }

    .nav2 li:first-child {
        margin-right: auto;
    }

    .nav2 a {
        height: 100%;
        padding: 0px 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .nav2 a:hover {
        fill: #fff;
    }

    .icon {
        fill: #fff;
    }

    .icon-x {
        fill: #000;
        margin-right: 15rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 280px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        backdrop-filter: blur(5px);
        
    }

    .sidebar li a{
        color: #000;
    }

    .comprar {
        height: 2.5rem;
        width: 16rem;
    }

    h2.nome-item {
        color: #000000;
        font-weight: bolder;
        font-size: 30px;
        text-align: left;
    }

    .hero-desc {
        max-width: 400px;

    }

    .hero {
        flex-direction: column;
    }

    h3.preco {
        font-size: 40px;
        padding-top: 2rem;
    }

    img {
        width: 400px;
    }

    .sub,
    .sup {
        padding-left: 1rem;
        max-width: 400px;
    }

    .especificacoes {
        max-width: 25rem;
        align-self: center;
        margin-left: 1rem;
    }

    .pagamento {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: top;
    }

    .burg-text{
        padding: 1rem 0;
    }
}

@media (min-width: 800px) {
    .hideDesktop {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .nav2{
        display: none;
    }
}