@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    font-family: Inter;
}

/* HEADER LOGO/SEARCH */
header {
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #A64812;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-family: SUSE;
    font-weight: bold;
}

.logo {
    width: 5rem;
    padding-right: 1rem;
}

.nav2 {
    display: none;
}

/* Fim HEADER LOGO/SEARCH */


/* BOOTSTRAP SEARCH (modificado)*/
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin: 1rem;
}

.input {
    font-size: 18px;
    padding: 5px 10px;
    width: 30rem;
    height: 2.5rem;
    padding-left: 1rem;
    outline: none;
    border: none;
    background: #fff;
    color: #000000;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .3s ease;
}

.input::placeholder {
    color: black;
}

.search {
    position: absolute;
    right: 10px;
    width: 2rem;
    height: 2rem;
}

/* Fim BOOTSTRAP SEARCH */

/* HEADER NAV */
.nav {
    background-color: #F2780C;
}

.body-prods {
    width: 100vw;
    overflow-y: hidden;
    background-color: #A64812;
}

.prods {
    width: 90%;
    height: 60%;
    margin: 5%;
    border-radius: 20px;
    background-color: #F2F3F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    height: 80.25%;
    width: 27%;
    margin: 3%;
    padding: 1.5%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    border-radius: 20px;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    padding: .5rem 0;
    justify-content: center;
    align-items: center;
}

.info,
.vezes,
.preco,
.button {
    size: 12px;
    color: #000000;
    font-family: inter;
}

.button {
    width: 80%;
    margin-top: 8%;
    font-size: 20px;
    color: #F2A007;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
}

.info {
    font-size: 15px;
}

.vezes {
    color: #F2D49B;
}

.preco {
    font-weight: bold;
    font-size: 30px;
    color: #F2A007;
}

.IMG {
    width: 300px;
}

.nav li {
    padding: 0 1.5rem;
    border-right: 1px solid #fff;
}

#last {
    border: none;
}

.slide-container {
    width: 100vw;
    height: 50vh;
    margin: 0;
    position: relative;
}

.image-container {
    width: 300vw;
    height: 50vh;
    display: flex;
    animation: slideAnimation 9s infinite ease-in-out;
    animation-play-state: running;
}

.slider-image {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

#slider-image1:target~.image-container {
    animation: none;
    transform: translateX(0);
}

#slider-image2:target~.image-container {
    animation: none;
    transform: translateX(-100vw);
}

#slider-image3:target~.image-container {
    animation: none;
    transform: translateX(-200vw);
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100vw);
    }

    66.66% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(0);
    }
}

/* Inicio FOOTER */
footer {
    background-color: #F28B0C;
    font-family: SUSE;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 1rem 0 0 0;
}

#projetoFinal,
#cr {
    color: #fff;
}

#projetoFinal {
    font-weight: bold;
}

#cr {
    font-weight: lighter;
}

/* Fim FOOTER */

@media (max-width: 800px) {
    .hideMobile {
        display: none;
    }

    .search-bar,
    .input,
    .search {
        display: none;
    }

    body {
        overflow: scroll;
    }

    .nav {
        display: none;
    }

    .burg {
        display: block;
    }

    .prods {
        display: flex;
        flex-direction: column;
        height: 150%;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 150%;
        width: 80vw;
        align-items: center;
    }

    .nav2 {
        display: flex;
        justify-content: flex-end;
    }

    .nav2 ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav2 li {
        height: 60px;
    }

    .nav2 li:first-child {
        margin-right: auto;
    }

    .nav2 a {
        height: 100%;
        padding: 0px 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .nav2 a:hover {
        fill: #fff;
    }

    .icon {
        fill: #fff;
    }

    .icon-x{
        fill: #fff;
        margin-right: 15rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 280px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        backdrop-filter: blur(10px);
    }

    .burg-text{
        padding: 1rem 0;
    }
}

@media (min-width: 800px) {
    .hideDesktop {
        display: none;
    }
    .sidebar{
        display: none;
    }
}